:root {
  --content-bg: #f6e7e7;
  --bg: #ddd;

  --text: #3b3b3b;
  --white-text: #ddd;
  --text-hover: #000;
  --additional: #e2e2e2;
  --popup-bg: #000000aa;

  --gray: #808080;

  --primary: #008000;
  --primary-hover: #025c02;

  --dark: #000;

  --transition: .4s;
  --filter-opacity: opacity(.7);
}